/*Configurações gerais*/
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-base);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--title-color);
}

h1{
    font-size: var(--font-title-h1);
}

h2{
    font-size: var(--font-title-h2);
}

h3{
    font-size: var(--font-title-h3);
}

h4{
    font-size: var(--font-title-h4);
}

h5{
    font-size: var(--font-title-h5);
}

h6{
    font-size: var(--font-title-h6);
}

p{
    color: var(--text-color);
    font-size: var(--font-base);
}

large{
    font-size: var(--font-large);
}

small{
    font-size: var(--font-small);
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

a:hover{
    color: var(--link-hover-color);
}

.link-contrast-color{
    color: var(--link-contrast-color);
}

.primary--color{
    color: var(--primary-color);
}

.secondary--color{
    color: var(--secondary-color);
}
/*Header*/
#header{
    background-color: var(--background-header-color);
}
#header-mobile{
    background-color: var(--background-header-color);
}

/*Home*/
#produtos{
    background-color: var(--primary-color);
}

#faq-home{
    background: linear-gradient(180deg, var(--primary-light-color), var(--primary-color));
}

/*Card*/
.card{
    align-items: center;
    border-radius: 24px;
    border: none;
}
.card-header{
    padding: 0;
}
.card-header img{
    border-radius: 24px 24px 0 0;
}
.card-body{
    width: 100%;
    padding: 10px;
}
.orcamento-card{
    display: flex;
    justify-content: center;
}

/*Blog*/
.img-post{
    height: 300px;
    background-size: cover;
    background-position: center;
}

/*Footer*/
#orcamento{
    background-color: var(--primary-light-color);
}
#footer{
    background-color: var(--background-footer-color);
}
#powered-by{
    background-color: #0D1533;
    color: #fff;
}
#powered-by p{
    color: #fff;
}