/*Configurações gerais*/
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-base);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--title-color);
}

h1{
    font-size: var(--font-title-h1);
}

h2{
    font-size: var(--font-title-h2);
}

h3{
    font-size: var(--font-title-h3);
}

h4{
    font-size: var(--font-title-h4);
}

h5{
    font-size: var(--font-title-h5);
}

h6{
    font-size: var(--font-title-h6);
}

p{
    color: var(--text-color);
    font-size: var(--font-base);
}

large{
    font-size: var(--font-large);
}

small{
    font-size: var(--font-small);
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

a:hover{
    color: var(--link-hover-color);
}

.link-contrast-color{
    color: var(--link-contrast-color);
}

.primary--color{
    color: var(--primary-color);
}

.secondary--color{
    color: var(--secondary-color);
}

/*Header*/
#header{
    background-color: var(--background-header-color);
}
#header-mobile{
    background-color: var(--background-header-color);
    padding: 10px 0px;
}
#menu-principal a{
    color: var(--link-contrast-color);
    font-size: var(--font-title-h5);
}
#menu-principal li{
    display: flex;
    align-items: center;
}
#menu-principal a:hover{
    color: var(--link-contrast-hover-color);
}

.btn-header{
    background-color: var(--secondary-color);
    color: var(--link-contrast-color);
    padding: 5px 50px;
    border-color: var(--secondary-color);
    border-radius: 20px;
}
#btn-menu-mobile{
    border: none;
    background: none;
    color: var(--link-contrast-color);
    font-size: var(--font-title-h2);
}
#navbarToggleExternalContent3 ul{
    gap: 10px;
    padding: 10px 0px;
}
#navbarToggleExternalContent3 ul li{
    display: flex;
    justify-content: center;
}
#navbarToggleExternalContent3 ul li a{
    color: var(--link-contrast-color);
    font-size: var(--font-title-h6);
}
#navbarToggleExternalContent3 ul li a:hover{
    color: var(--link-contrast-hover-color);
}

/*Home*/
#slide-principal{
    position: relative;
    max-height: 450px;
    overflow-y: hidden;
}
#grid-slider{
    position: absolute;
    top: 170px;
}

#grid-slider h2, #grid-slider p{
    color: var(--link-contrast-color);
}

#grid-text{
    margin-left: 100px;
}

#produtos{
    background-color: var(--primary-color);
}

#faq-home{
    background: linear-gradient(180deg, var(--primary-light-color), var(--primary-color));
}

.btn-principal{
    background-color: var(--secondary-color);
    color: var(--link-contrast-color);
    width: 60%;
    border-color: var(--secondary-color);
    border-radius: 20px;
}

.item-vantagem{
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.item-vantagem img{
    width: 50%;
}

/*Card*/
.card{
    align-items: center;
    border-radius: 24px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    margin: 5px;
    margin-bottom: 10px;
}
.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}
.card-header{
    padding: 0;
    border-radius: 24px 24px 0 0;
}
.card-header a{
    border-radius: 24px 24px 0 0;
}
.card-header img{
    border-radius: 24px 24px 0 0;
}
.card-body{
    width: 100%;
    padding: 10px;
}
.title-card{
    font-size: var(--font-title-h5);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.description-card{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.orcamento-card{
    display: flex;
    justify-content: center;
}
.card--btn{
    width: 100%;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--link-contrast-color);
    font-weight: 500;
    border-color: var(--secondary-color);
}

/*Blog*/
.title-post{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.excerpt-post{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

/*Faq*/
.details-faq{
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.details-faq p{
    margin-top: 10px;
}

/*Blog*/
.img-post{
    height: 200px;
    background-size: cover;
    background-position: center;
}

/*Pagina de serviço*/
#topo-img{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    background-position: center;
}

#title-topo {
    position: absolute;
    bottom: -37px;
    background-color: var(--background-color);
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
}

#title-topo h1{
    margin: 0px;
}

/*Pagina do prouto*/
.xzoom-container{
    width: 100%;
}
.xzoom-thumbs{
    margin-top: 16px;
    padding: 8px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
#product-description{
    margin-top: 25%;
}

.descricao-product{
    margin-bottom: 16px;
}

.descricao-product summary {
    border-bottom: 1px solid var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao-product summary::after {
    content: "+";
    font-size: var(--font-title-h2);
    font-weight: normal;
    margin: 0 5px;
    padding: 0;
    width: 20px;
    text-align: center;
}

.descricao-product details[open] summary::after {
    content: "-";
}

/*Footer*/
#orcamento{
    background-color: var(--primary-light-color);
}

#orcamento form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

#orcamento fieldset{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

#orcamento fieldset div{
    width: 100%;
    color: var(--link-contrast-color);
}

#orcamento fieldset div input{
    background-color: rgba(217, 217, 217, .2);
    border: 2px solid #fff;
    border-radius: 0;
}

#orcamento fieldset div input::placeholder{
    color: rgba(255, 255, 255, .5);
}

#orcamento form .btn-group{
    width: 60%;
}

#orcamento form .btn-group button{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 20px;
}

#footer{
    background-color: var(--background-footer-color);
}
#footer a{
    color: var(--link-contrast-color);
}
#footer a:hover{
    color: var(--link-contrast-hover-color);
}
#informacoes-contato{
    list-style: none;
    padding-left: 0;
    color: var(--link-contrast-color);
    font-size: var(--font-large);
    margin: 0px;
}
#informacoes-contato li{
    margin-bottom: 10px;
}
#informacoes-contato ion-icon{
    margin-right: 5px;
}
#redes-sociais{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
#redes-sociais ion-icon{
    font-size: var(--font-title-h3);
}
#powered-by{
    background-color: #0D1533;
    color: #fff;
}
#powered-by a{
    color: #fff;
}
#powered-by a:hover{
    color: #d9d9d9;
}
#powered-by p{
    color: #fff;
}

.owl-carousel{
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 30%;
    z-index: 9;
    width: 100%;
}

.owl-nav .owl-prev {
    left: 0;
    position: absolute;
}

.owl-nav .owl-next {
    right: 0;
    position: absolute;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
}

.owl-nav span {
    font-size: 60px;
}

/*Tamanho medio*/
@media only screen and (min-width: 711px) and (min-width: 1100px){
    #menu-principal a {
        font-size: var(--font-large);
    }
    .btn-header{
        padding: 5px 30px;
    }
}

/*mobile*/
@media only screen and (max-width: 711px){
    #grid-slider {
        top: 72px;
    }
    #grid-text {
        margin-left: 4px;
    }
    #product-description{
        margin-top: 0;
    }
    /*Pagina de serviço*/
    #topo-img{
        height: 120px;
        margin-bottom: 60px;
    }

    #title-topo{
        bottom: -29px;
        padding: 4px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 15px;
        height: 15px;
    }

    .owl-nav i {
        font-size: 20px;
    }
    #orcamento{
        padding-bottom: 3rem;
    }
}
